@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light; /* Indica al navegador que el esquema es claro */
}
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark; /* 🔥 ESTO arregla el fondo de los select */
}
body {
  background-color: var(--background);
  color: var(--foreground);
} /* Forzar estilos en las opciones para navegadores que lo permiten */
select option {
  background-color: var(--background);
  color: var(--foreground);
}
