@import "tailwindcss";

/* 1. Configuración de Tema (v4) */
@theme {
  --font-sans: var(--font-roboto), "system-ui", "sans-serif";
}

/* 2. Definición de Modo Oscuro por Clase */
/* Esto reemplaza el darkMode: "class" de la v3 */
@custom-variant dark (&:where(.dark, .dark *));

/* 3. Variables de Marca y Base */
:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

/* 4. Estilos Globales */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}
